<!-- // END drawer-layout -->

<div class="mdk-drawer js-mdk-drawer" id="events-drawer" data-align="end">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>

          Developed BY AXVEEZ

        </div>
    </div>
</div>
